body{
	font-family:calibri;
}

h1{  /*TITLE*/
	margin-top: 20px;
	margin-right: 7%;
	margin-left: 7%;
	margin-bottom: 0px;
	padding: 20px;
	border-style: solid;
	border-width:10px;
	border-left-width:10px;
	border-right-width:10px;
	border-color:#0B243B;
	background-color:#CC99FF;
	text-align:center;
	color:#0B243B;
	font-family: "Lucida Sans Unicode",Times,serif;
	letter-spacing: 20px;
}

h2{
	margin-top: 0px;
	margin-right: 7%;
	margin-left: 7%;
	margin-bottom: 0px;
	padding: 18px;
	padding-left:493px;
	border-top-width: 0px;
	background-color: #086A87;
	color:white;
	font-style:italic;
}

#menu{
	background-color:#CCCCFF;
	clear: both;
	margin-top:-16px;
	margin-left:7%;
	margin-right:7%;
	margin-bottom:-16px;
}

#navlist li{ 
	display: inline;
	list-style-type: none;
	padding-right: 50px;
}

#menu a, #menu a:visited {
	text-decoration:none;
	color:black;
}

#left{
	background-color:#BDBDBD;
	height:530px;
	width:5%;
	float:left;
	margin-left:7%;
}

#img1{
    line-height:0;
    padding: 5px;
    border:1px solid #021a40;
	background-color:#ffffff;
	float:left;
	margin-left:5px;
	margin-right:1%;
}

#content{
	background-color:white;
	height:500px;
	width:63%;
	float:left;
	padding-left:1%;
	padding-top:20px;
	padding-bottom:5px;
}

#img2{
    float:right;
	margin-bottom:10px;
	margin-left:1%;
	margin-right:5px;	
}

#videos{
    float:left;
	margin-left:1%;
	margin-top:1%;
	margin-bottom:1%
}

#desc{
    float:left;
	margin-left:1%;
}

#right{
	background-color:#BDBDBD;
	height:530px;
	width:15%;
	float:right;
	margin-right:7%;
	margin-left:1%;
}

#menu2{
	margin:0;
	padding:0;
}

#menu2 li{
	list-style-type:none;
	margin:0 0 0.25em 0;
}

#menu2 a, #menu2 a:visited {
	display: block;
	width:9em;
	border:1px solid #0B243B;
	text-align:center;
	text-decoration:none;
	background:#0B243B;
	color:#eee;
	padding:0.25em;
}

#footer{
	background-color:#CCCCFF;
	clear: both;
	text-align: center;
	margin-left:7%;
	margin-right:7%;
}
